body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}

a{
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    animation: ease-in-out 2s;
}

i{
    width: 30px;
    height: 30px;
}

img{
    cursor: pointer
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

a:hover{
transform: scale(1.05);
}

.jogo:hover{
cursor: pointer;
transform: scale(1.05);
}